.comment_list{
list-style: none;
padding: 0px 20px;
}

.noComments{
    border-bottom: 1px solid rgb(214, 211, 211);
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5px;
}

@media (max-width: 600px) {
    
    .comment_list{
        margin-top:10px;
        padding: 0px 20px;
        }
        
  
}