.reviews_list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
   
    
}
.reviews{
    margin: 0% 7% 
}

.allRevBtn {
   margin-left: 80%;
   padding: 10px 20px;
   color:  #00285E;
   font-weight: bold;
   background-color: #F4BC46;
   border:none;
   border-radius: 5px;
}


.allRevBtn:hover{
    background-color: #f1c667;
    transition: 1s;
    cursor: pointer;
}


@media (max-width: 600px) {
    .reviews_list{
        
      display: flex;
      flex-wrap: wrap;
      
        
    }
    }
       