.reviews_list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    
}
.reviews{
    margin: 0% 7% 
}
@media (max-width: 600px) {
    .reviews_list{
        
      display: flex;
      flex-wrap: wrap;
      
        
    }
    }
       