.navbar{
 display: none;
 background-color: #98C5E9;
 margin:0;
 padding:10px 10px 10px 20px;

}

.links{
    padding: 5px;
    text-decoration: none;
    color: #00285E;
    font-size: 1rem;
    
}

@media (min-width: 600px) {
 .navbar{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;

 }
    }