.navbar{
 display: none;
 background-color: #98C5E9;
 margin:0;
 padding:10px 10px 10px 20px;
 margin-bottom: 10px;

}

.links{
    padding: 7px;
    text-decoration: none;
    color: #00285E;
    font-size: 1rem;
    border-bottom: 2px solid #98C5E9 ;
    
}

.links:hover{
   border-bottom: 2px solid  #00285E;
   transition: 1s;
 
}

.links:focus{
   border-bottom: 2px solid  #00285E;
   }

@media (min-width: 900px) {
 .navbar{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;

 }
    }