.review_img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 4px;
    filter: grayscale(30%);
}

.title{
    font-size: 1rem;
}

.review_card{
    width: 30%;
    height: 250px;  
    margin:0;
    border-radius: 8px;
    margin:5px;
    position: relative;
}
.text_block {
    position: absolute;
    width: 100%;
    min-height: 30%;
    bottom: 0px;
    background-color: rgb(110, 171, 219,0.9);
    color: white;
    margin:0;   
    padding: 0;
  }

.review_info{
    display: flex;
    justify-content: space-around;
    margin-bottom:0;
    padding: 2px;
    
}


.viewMore{
    color: white;
    border: none;
    background-color: transparent;
    margin-bottom: 10px;
    cursor: pointer;

}
.viewMore:hover{

    color: #00285E;
 
  
}

@media (max-width: 900px) {
    .review_card{
        width: 45%;  
       
    }
    }
@media (max-width: 600px) {
    .review_card{
        width: 90%;  
       
    }
    }