h2{
    padding: 20px 0px;
}
.reviewContent{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "image info"
}

.review_img{
    width:90%;
    margin-left: 5%;
    border-radius: 5px;
    grid-area: image;
    margin-bottom:20px;
}

.reviewInfo{
    grid-area: info;
}

.date{
    display: flex;
    justify-self: flex-start;
    margin-left: 3%;
}

.postedBy{
    margin-left:70%;
}

.likes{
    margin-right: 80%;
    background-color: aqua;
}
.body{
    margin:0 3% 3% 3%;
   
}

.comments{
    margin-left: 80%;
}
@media (max-width: 600px) {
    
.reviewContent{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "image"
    "info"
}

}