.comment{
    border: 1px solid gray;
    margin-bottom: 5px;
    border-radius: 8px;
    margin-right: 10px;
}

.author, .body{
    display: flex;
    justify-self: flex-start;
   
}
.body{
    margin:0 2%;
}
.author{
    border-bottom: 1px solid rgb(214, 211, 211);
    padding: 5px 10px;
    display: flex;
        justify-content: space-between;
}

.username{
    margin-left: 10px;
    margin-right: 75%;
    margin-top: 5px;;
}

.icon{
    display:flex;
    
}

.date{
    display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

@media (max-width: 600px) {
    
    .username{
        margin-left: 10px;
        margin-right: 50%;
       
    }
    .author{
        border-bottom: 1px solid rgb(214, 211, 211);
        padding: 5px 10px;
       
    }
       }